{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-80">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon"  href="{% static 'favicon.ico' %}">

        <!-- Bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <!-- Custom css & js -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block scripts %}{% endblock scripts %}

        <title>HorrorDB - {% block title %}{% endblock title %}</title>

    </head>

    <body>
        {% include 'base/navbar.html' %}

        {% block content %}{% endblock content %}

        {% include 'footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
</html>
